# Project exclude paths
/.gradle/
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/
/Topics/Enums in Java/Reasons to use enum/out/
/Topics/Enums in Java/Reasons to use enum/out/production/classes/
/Topics/Enums in Java/Theory/out/
/Topics/Enums in Java/Theory/out/production/classes/